*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font: 400 16px/1.2 sans-serif;
}

.appWrapper {
    display: grid;
    grid-template-columns: 60px auto;
    background-color: #EEEEF6;
}

.container {
    width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}